<% body_class 'page support' %>

<%= render "partials/page_header" %>
<%= render "partials/form_iframe" %>

<section class="container">
  <div class="content">
    <div class="row">
      <div class="col-xs-12">
        <h1>Support</h1>
        <p>Have feedback? We'd love to hear it!</p>
        <p>Questions or need assistance? Email us!</p>
        <a class="mailto" href="mailto:site@site.com">support email</a>
      </div>
    </div>
  </div>
</section>

<%= render "partials/footer" %>
