<div id="footer">
  <ul class="footer-ul links">
    <li><a href="/support">support</a></li>
    <li><a href="/privacy">privacy</a></li>
    <li><a href="/faq">faq</a></li>
  </ul>
  <div id="signup-wrap">
    <form action="#" class="" id="submitForm" method="post" target="hidden_iframe">

      <div class="form-group">
        <div class="input-group input-group-md">
          <input class="form-control" id="capturedEmail" name="capturedEmail" placeholder="Join our mailing list" type="email">
          <input id="formattedDate" name="date" type="hidden">
          <span class="input-group-btn">
            <button class="btn btn-default" id="submit-capture" type="button"></button>
            <div class="loader">
              <div class="spin"></div>
            </div>
          </span>
        </div>
      </div>
    </form>    
  </div>
</div><!-- #footer -->