<header id="header">
  <div class="container">
    <div class="row top">
      <div class="col-sm-6 col-xs-12">
        <div class="logo-inner clearfix">
          <a href="/" class="app-icon"></a>
          <div class="text-wrap">
            <h1 class="title">Your Site</h1>
            <p class="message">Your Tagline</p>
          </div>
        </div>
      </div>

      <div class="appstore-wrap col-sm-6 col-xs-12">
        <div class="inner-store">
          <a class="top-store app pull-right" href="#">
            <span class="app-store-black"></span>
          </a>
        </div>
      </div>
    </div>  
  </div>
</header>