<%= render "partials/form_iframe" %>

<div class="container-fluid k100h">
  <div id="left">
    <div class="row k100h">
      <div class="col-md-12 col-md-6 k100h">
        <div id="left-inner">
          <div id="header">
            <div class="header-wrap clearfix">
              <a href="/" class="app-icon"></a>
              <div class="text-wrap">
                <h1 class="title">App</h1>
                <p class="message">Tagline</p>
              </div>
              <div class="store-btn-wrap"> 
                <a class="store-btn" href="#">
                  <span class="app-store-black"></span>
                </a>
              </div>   
            </div><!-- .header-wrap -->
          </div><!-- #header -->

          <div class="row">
            <div id="news">
              <h2>Latest News</h2>
              <ul class="news-list">          
                <li>
                  <div class="news-item news-item-1" >
                    <div class="text">
                      <h3>Newws 1</h3>
                      <p>!!!</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="news-item news-item-2">
                    <div class="text">
                      <h3>Newws 2</h3>
                      <p>!!!</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div><!-- #news -->
          </div><!-- .row -->    
                
        </div><!-- #left-inner -->
      </div><!-- .col-md-6 -->

      <div class="col-md-12 col-md-6 right-col k100h">
        <div id="app" class="k100h"></div>
        <div id="press">
            <span>as seen on</span>
            <a href="#" class="tc"></a>
            <a href="#" class="theverge"></a>
        </div><!-- #press -->
      </div><!-- .col-md-6 -->
    </div><!-- .row.k100h -->
  </div><!-- #left -->
</div><!-- .container-fluid -->

<%= render "partials/footer" %>