$iphoneHeight: 568px;
$iphoneWidth: 270px;

$gray: #d3d5d7;
$black: #202020;
$green: #96f6b2;
$green-type: #40f29c;
$pink: #fd4895; //#ee438f;
$purple: #765cf7;

$bg-orange: #ff7153;

$animationTime: 2s;